.PianoContainer {
  display: flex;
  margin-top: 80px;
  justify-content: center;
  position: relative;
  z-index: 0;
}
.WhiteKeyComponentA {
  border: 1px solid black;
  width: 5%;
  height: 300px;
  background: white;
  position: relative;
}
.WhiteKeyComponentB {
  border: 1px solid black;
  width: 5%;
  height: 300px;
  background: white;
  position: relative;
}
.WhiteKeyComponentC {
  border: 1px solid black;
  width: 5%;
  height: 300px;
  background: white;
  position: relative;
}
.WhiteKeyComponentD {
  border: 1px solid black;
  width: 5%;
  height: 300px;
  background: white;
  position: relative;
}
.WhiteKeyComponentE {
  border: 1px solid black;
  width: 5%;
  height: 300px;
  background: white;
  position: relative;
}
.WhiteKeyComponentF {
  border: 1px solid black;
  width: 5%;
  height: 300px;
  background: white;
  position: relative;
}
.WhiteKeyComponentG {
  border: 1px solid black;
  width: 5%;
  height: 300px;
  background: white;
  position: relative;
}
.WhiteKeyComponentA.active {
  border: 1px solid rgb(139, 0, 253);
  width: 5%;
  height: 300px;
  background: rgb(248, 186, 184);
  position: relative;
}
.WhiteKeyComponentB.active {
  border: 1px solid rgb(139, 0, 253);
  width: 5%;
  height: 300px;
  background: rgb(248, 186, 184);
  position: relative;
}
.WhiteKeyComponentC.active {
  border: 1px solid rgb(139, 0, 253);
  width: 5%;
  height: 300px;
  background: rgb(248, 186, 184);
  position: relative;
}
.WhiteKeyComponentD.active {
  border: 1px solid rgb(139, 0, 253);
  width: 5%;
  height: 300px;
  background: rgb(248, 186, 184);
  position: relative;
}
.WhiteKeyComponentE.active {
  border: 1px solid rgb(139, 0, 253);
  width: 5%;
  height: 300px;
  background: rgb(248, 186, 184);
  position: relative;
}
.WhiteKeyComponentF.active {
  border: 1px solid rgb(139, 0, 253);
  width: 5%;
  height: 300px;
  background: rgb(248, 186, 184);
  position: relative;
}
.WhiteKeyComponentG.active {
  border: 1px solid rgb(139, 0, 253);
  width: 5%;
  height: 300px;
  background: rgb(248, 186, 184);
  position: relative;
}
.BlackKeyContainer {
  display: flex;
  justify-content: space-evenly;
}
.black-key-1 {
  background: black;
  width: 3%;
  height: 200px;
  position: absolute;
  margin: 0 0 0 35.6%;
  z-index: 1;
}
.black-key-2 {
  background: black;
  width: 3%;
  height: 200px;
  position: absolute;
  margin: 0 0 0 40.8%;
  z-index: 1;
}
.black-key-3 {
  background: black;
  width: 3%;
  height: 200px;
  position: absolute;
  margin: 0 0 0 51%;
  z-index: 1;
}
.black-key-4 {
  background: black;
  width: 3%;
  height: 200px;
  position: absolute;
  margin: 0 0 0 56.3%;
  z-index: 1;
}
.black-key-5 {
  background: black;
  width: 3%;
  height: 200px;
  position: absolute;
  margin: 0 0 0 61.2%;

  z-index: 1;
}
.WhiteKeyComponentA:hover {
  background: gainsboro;
  cursor: pointer;
}
.WhiteKeyComponentB:hover {
  background: gainsboro;
  cursor: pointer;
}
.WhiteKeyComponentC:hover {
  background: gainsboro;
  cursor: pointer;
}
.WhiteKeyComponentD:hover {
  background: gainsboro;
  cursor: pointer;
}
.WhiteKeyComponentE:hover {
  background: gainsboro;
  cursor: pointer;
}
.WhiteKeyComponentF:hover {
  background: gainsboro;
  cursor: pointer;
}
.WhiteKeyComponentG:hover {
  background: gainsboro;
  cursor: pointer;
}
.key-letter {
  bottom: 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media (max-width: 1100px) {
  .WhiteKeyComponent {
    border: 1px solid black;
    width: 5%;
    height: 300px;
    background: white;
    position: relative;
  }
}
@media (max-width: 700px) {
  .WhiteKeyComponent {
    border: 1px solid black;
    width: 8%;
    height: 300px;
    background: white;
    position: relative;
  }
  .WhiteKeyComponentA {
    border: 1px solid black;
    width: 8%;
    height: 300px;
    background: white;
    position: relative;
  }
  .WhiteKeyComponentB {
    border: 1px solid black;
    width: 8%;
    height: 300px;
    background: white;
    position: relative;
  }
  .WhiteKeyComponentC {
    border: 1px solid black;
    width: 8%;
    height: 300px;
    background: white;
    position: relative;
  }
  .WhiteKeyComponentD {
    border: 1px solid black;
    width: 8%;
    height: 300px;
    background: white;
    position: relative;
  }
  .WhiteKeyComponentE {
    border: 1px solid black;
    width: 8%;
    height: 300px;
    background: white;
    position: relative;
  }
  .WhiteKeyComponentF {
    border: 1px solid black;
    width: 8%;
    height: 300px;
    background: white;
    position: relative;
  }
  .WhiteKeyComponentG {
    border: 1px solid black;
    width: 8%;
    height: 300px;
    background: white;
    position: relative;
  }
  .WhiteKeyComponentA.active {
    border: 1px solid rgb(139, 0, 253);
    width: 8%;
    height: 300px;
    background: rgb(248, 186, 184);
    position: relative;
  }
  .WhiteKeyComponentB.active {
    border: 1px solid rgb(139, 0, 253);
    width: 8%;
    height: 300px;
    background: rgb(248, 186, 184);
    position: relative;
  }
  .WhiteKeyComponentC.active {
    border: 1px solid rgb(139, 0, 253);
    width: 8%;
    height: 300px;
    background: rgb(248, 186, 184);
    position: relative;
  }
  .WhiteKeyComponentD.active {
    border: 1px solid rgb(139, 0, 253);
    width: 8%;
    height: 300px;
    background: rgb(248, 186, 184);
    position: relative;
  }
  .WhiteKeyComponentE.active {
    border: 1px solid rgb(139, 0, 253);
    width: 8%;
    height: 300px;
    background: rgb(248, 186, 184);
    position: relative;
  }
  .WhiteKeyComponentF.active {
    border: 1px solid rgb(139, 0, 253);
    width: 8%;
    height: 300px;
    background: rgb(248, 186, 184);
    position: relative;
  }
  .WhiteKeyComponentG.active {
    border: 1px solid rgb(139, 0, 253);
    width: 8%;
    height: 300px;
    background: rgb(248, 186, 184);
    position: relative;
  }
  .black-key-1 {
    background: black;
    width: 6%;
    height: 200px;
    position: absolute;
    margin: 0 0 0 26%;
    z-index: 1;
  }
  .black-key-2 {
    background: black;
    width: 6%;
    height: 200px;
    position: absolute;
    margin: 0 0 0 34.5%;
    z-index: 1;
  }
  .black-key-3 {
    background: black;
    width: 6%;
    height: 200px;
    position: absolute;
    margin: 0 0 0 51%;
    z-index: 1;
  }
  .black-key-4 {
    background: black;
    width: 6%;
    height: 200px;
    position: absolute;
    margin: 0 0 0 59.3%;
    z-index: 1;
  }
  .black-key-5 {
    background: black;
    width: 6%;
    height: 200px;
    position: absolute;
    margin: 0px 0 0 67.8%;
    z-index: 1;
  }
}
